
# dependencies
/node_modules
/LudoKing/node_modules
/LudoKing/.pnp
/LudoKing/.pnp.js

# testing
/LudoKing/coverage

# production
/LudoKing/build

# misc
/backend/config/config.env
/LudoKing/.DS_Store
/LudoKing/.env.local
/LudoKing/.env.development.local
/LudoKing/.env.test.local
/LudoKing/.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
